@tailwind base;
@tailwind components;
@tailwind utilities;

.sora-font {
    font-family: "Sora", serif;
}

html {
    overflow-y: scroll;
}
.tab-active{
    background-color: white;
    color: #9538E2;
}